/* screen - supplyu95overview */

.supplyu95overview {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 884px;
  width: 1200px;
}

.supplyu95overview .versorgung {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  width: 1200px;
  scrollbar-width: none;
}

.supplyu95overview .header {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--alto);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 24px;
  padding: 32px;
  position: relative;
  width: 100%;
}

.supplyu95overview .logoblock {
  flex: 0 0 auto;
  margin-left: -1.50px;
  position: relative;
}

.supplyu95overview .navigation-pill-list {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: 1050px;
}

.supplyu95overview .company-name {
  color: var(--brand);
  font-family: var(--font-family-abel);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 247px;
}

.supplyu95overview .prototyp-name {
  color: var(--brand);
  flex: 1;
  font-family: var(--font-family-abel);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.supplyu95overview .x-navigation-pill {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.supplyu95overview .title {
  color: var(--eerie-black);
}

.supplyu95overview .supply-navigation-pill {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.supplyu95overview .title-1 {
  color: var(--japanese-laurel);
}

.supplyu95overview .timeline {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .contact {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .general-supply::-webkit-scrollbar {
  display: none;
  width: 0;
}

.supplyu95overview .general-supply {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 697px;
  overflow-y: scroll;
  position: relative;
}

.supplyu95overview .groups-headline {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 40px;
  position: relative;
  width: 1170px;
}

.supplyu95overview .frame {
  align-items: center;
  align-self: stretch;
  background-color: var(--japanese-laurel);
  border: 1px solid;
  border-color: var(--apple);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  min-width: 240px;
  padding: 12px 20px 12px 58px;
  position: relative;
  width: 100%;
}

.supplyu95overview .x-groups {
  flex: 1;
  letter-spacing: 0;
  line-height: 30.8px;
  margin-bottom: -5.00px;
  margin-top: -8.00px;
  position: relative;
  text-align: center;
}

.supplyu95overview .chevron-down {
  height: 38px;
  margin-bottom: -9.00px;
  margin-top: -11.00px;
  position: relative;
  width: 38px;
}

.supplyu95overview .lists {
  position: relative;
  width: 100%; /* Breite auf 100% setzen, um Flexibilität zu erhöhen */
  max-width: 1170px; /* Maximale Breite festlegen */
  display: flex;
  flex-direction: column; /* Flexbox verwenden, um Elemente vertikal anzuordnen */
  padding: 0 24px; /* Padding hinzufügen, um den Inhalt einzurücken */
  box-sizing: border-box; /* Box-Sizing auf Border-Box setzen */
}

.supplyu95overview .body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 12px 0;
  position: relative;
  width: 100%; /* Breite auf 100% setzen, um Flexibilität zu erhöhen */
  box-sizing: border-box; /* Box-Sizing auf Border-Box setzen */
}

.supplyu95overview .block {
  display: block; /* Sicherstellen, dass die Blöcke als Block-Elemente angezeigt werden */
  width: 100%; /* Breite auf 100% setzen */
}

.supplyu95overview .index {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.supplyu95overview .body-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 28px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  min-width: 240px;
  padding: 12px 40px 12px 16px;
  position: relative;
  width: 100%;
}

.supplyu95overview .gert {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  position: relative;
  width: 240px;
}

.supplyu95overview .place {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  position: relative;
  width: 238px;
}

.supplyu95overview .gerteadresse {
  color: var(--eerie-black);
  flex: 1;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  position: relative;
}

.supplyu95overview .gruppe {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  position: relative;
  text-align: center;
  width: 72px;
}

.supplyu95overview .device {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 40px;
  position: relative;
  width: 100%;
}

.supplyu95overview .body-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  min-width: 240px;
  padding: 12px 40px 12px 16px;
  position: relative;
  width: 100%;
}

.supplyu95overview .device-id {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  width: 202px;
}

.supplyu95overview .info {
  height: 28px;
  margin-bottom: -4.00px;
  margin-top: -6.00px;
  position: relative;
  width: 28px;
}

.supplyu95overview .device-name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 40px;
  margin-bottom: -10.00px;
  margin-top: -12.00px;
  position: relative;
  width: 240px;
}

.supplyu95overview .input {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  width: 242px;
}

.supplyu95overview .value {
  align-self: stretch;
  color: var(--eerie-black);
  flex: 1;
  font-weight: 400;
  line-height: 14px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
}

.supplyu95overview .spacer {
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  width: 20px;
}

.supplyu95overview .device-address {
  color: var(--eerie-black);
  flex: 1;
  font-weight: 400;
  line-height: 14px;
  position: relative;
}

.supplyu95overview .x-select-field {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  margin-bottom: -10.00px;
  margin-top: -12.00px;
  position: relative;
}

.supplyu95overview .body-3 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 40px;
  padding: 12px 10px;
  position: relative;
  width: 72px;
}

.supplyu95overview .device-group {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .chevron-down-1 {
  margin-bottom: -8.00px;
}

.supplyu95overview .spacer-1 {
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  width: 20px;
}

.supplyu95overview .plantgroup-headline {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 40px;
  position: relative;
  width: 1170px;
}

.supplyu95overview .headline {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 40px;
  position: relative;
  width: 1170px;
}

.supplyu95overview .body-5 {
  align-items: center;
  align-self: stretch;
  background-color: var(--apple);
  border: 1px solid;
  border-color: var(--apple);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  min-width: 240px;
  padding: 12px 12px 12px 16px;
  position: relative;
  width: 100%;
}

.supplyu95overview .group-index {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  width: 49px;
}

.supplyu95overview .group-1 {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .groupname-index {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .group {
  color: var(--brand);
  flex: 1;
  font-weight: 400;
  line-height: 14px;
  position: relative;
}

.supplyu95overview .plantplan-index {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .x-button {
  align-items: center;
  background-color: var(--snow-flurry);
  border: 1px solid;
  border-color: var(--apple);
  border-radius: 32px;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  margin-bottom: -10.00px;
  margin-top: -12.00px;
  overflow: hidden;
  padding: 12px;
  position: relative;
  width: 40px;
}

.supplyu95overview .log-in {
  height: 20px;
  margin-bottom: -2.00px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  margin-top: -2.00px;
  position: relative;
  width: 20px;
}

.supplyu95overview .climategroup-index {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .tankgruppe {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .body-6 {
  align-items: center;
  background-color: var(--snow-flurry);
  border: 2px solid;
  border-color: var(--apple);
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  height: 40px;
  padding: 12px 11px;
  position: relative;
}

.supplyu95overview .spacer-2 {
  width: 10px;
}

.supplyu95overview .chevron-down-2 {
  margin-bottom: -6.00px;
}

.supplyu95overview .more-vertical {
  height: 20px;
  margin-bottom: -2.00px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  margin-top: -2.00px;
  position: relative;
  width: 20px;
}

.supplyu95overview .body-7 {
  align-items: center;
  align-self: stretch;
  background-color: var(--japanese-laurel);
  border: 1px solid;
  border-color: var(--apple);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  min-width: 240px;
  padding: 12px 20px 12px 58px;
  position: relative;
  width: 100%;
}

.supplyu95overview .spacer-3 {
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  width: 20px;
}

.supplyu95overview .spacer-4 {
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  width: 20px;
}

.supplyu95overview .group-headline {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1170px;
}

.supplyu95overview .body-4 {
  align-items: center;
  align-self: stretch;
  background-color: var(--apple);
  border: 1px solid;
  border-color: var(--apple);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 42px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  min-width: 240px;
  padding: 12px 12px 12px 16px;
  position: relative;
  width: 100%;
}

.supplyu95overview .group-2 {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .group-name-index {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .option-button {
  align-items: center;
  background-color: #e8ffcc80;
  border: 1px solid;
  border-color: var(--apple);
  border-radius: 32px;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  margin-bottom: -10.00px;
  margin-top: -12.00px;
  overflow: hidden;
  padding: 12px;
  position: relative;
  width: 40px;
}

.supplyu95overview .body-8 {
  align-items: center;
  align-self: stretch;
  background-color: var(--japanese-laurel);
  border: 1px solid;
  border-color: var(--apple);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  min-width: 240px;
  padding: 12px 20px 12px 58px;
  position: relative;
  width: 100%;
}

.supplyu95overview .spacer-5 {
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  width: 20px;
}

.supplyu95overview .spacer-6 {
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  width: 20px;
}

.supplyu95overview .group-3 {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .group-name-index-1 {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .footer {
  align-items: flex-start;
  background-color: var(--white);
  border-bottom-style: none;
  border-color: var(--alto);
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 16px;
  height: 80px;
  padding: 32px 32px 160px;
  position: relative;
  width: 1200px;
}

.supplyu95overview .plantomio-solutions {
  color: var(--brand);
  flex: 1;
  font-family: var(--font-family-abel);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 28px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -139.00px;
  margin-top: -1.00px;
  position: relative;
}

.supplyu95overview .sovial-media {
  flex: 0 0 auto;
  margin-bottom: -136.00px;
  position: relative;
}

.supplyu95overview .chevron-down-3 {
  height: 32px;
  margin-top: -8.00px;
  position: relative;
  width: 32px;
}

.supplyu95overview .group-index-3 {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .more-vertical-3 {
  height: 20px;
  margin-bottom: -2.00px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  margin-top: -2.00px;
  position: relative;
  width: 20px;
}

.supplyu95overview .select-2 {
  align-items: center;
  background-color: var(--snow-flurry);
  border: 2px solid;
  border-color: var(--apple);
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  height: 40px;
  padding: 12px 11px;
  position: relative;
}

.supplyu95overview .spacer-7 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  position: relative;
}

.supplyu95overview .spacer-fill {
  flex-grow: 1;
}

.supplyu95overview .text-3 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  position: relative;
  width: 20px;
}

.supplyu95overview .title-2 {
  font-weight: 400;
  line-height: 14px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.supplyu95overview .v-3 {
  color: var(--brand);
  font-weight: 400;
  line-height: 14px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

/* Add this to your CSS file */
.dropdown-button {
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-option {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #ddd;
}

.supplyu95overview .index-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.supplyu95overview .select {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 28px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  min-width: 240px;
  padding: 12px 8px;
  position: relative;
  width: 100%;
}

.supplyu95overview .w-2 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  position: relative;
  text-align: center;
  width: 16px;
}


.supplyu95overview .phase {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  position: relative;
  width: 100px;
}

.supplyu95overview .ec-wert {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  position: relative;
  width: 112px;
}

.supplyu95overview .ph-wert {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -3.50px;
  margin-top: -6.50px;
  position: relative;
  width: 112px;
}

.supplyu95overview .index2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 1100px;
}

.supplyu95overview .select-1 {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  height: 26px;
  padding: 12px 0px;
  position: relative;
}

.supplyu95overview .text {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 14px;
  margin-bottom: -5.50px;
  margin-top: -6.50px;
  position: relative;
  width: 136px;
}